.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  font-family: "Lato";

  > .title {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
  }

  > .subTitle {
    font-size: 20px;
    font-weight: 300;

    > .alert {
      font-weight: bold;
      color: red;
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;

  > .input {
    width: 600px;
    height: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    font-size: 20px;
    font-family: "Lato";
    outline: 0;
    text-align: center;
  }
}

.label {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lato";
  text-align: center;
}

.calendarDivShow {
  opacity: 1;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.dateSelected {
  text-align: center;
}

.button {
  width: 200px;
  height: 50px;
  margin: 15px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(17, 48, 136, 0.5);
  align-self: center;
  cursor: pointer;
  font-size: 16px;
  font-family: "Lato";
  font-weight: bold;
  color: rgb(44, 100, 255);
  transition: all 1s;
  &:hover {
    background-color: rgb(44, 100, 255);
    color: white;
    transition: all 1s;
    margin: 20px;
  }
}

.calendarDivHide {
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  visibility: hidden;
}

.calendarContainer {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  transition: all 1s;
  margin: 20px;

  &:hover {
    padding: 50px;
    transition: all 1s;
  }
}
